@tailwind base;
@tailwind components;
@tailwind utilities;

  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 224 71.4% 4.1%;

      --card: 0 0% 100%;
      --card-foreground: 224 71.4% 4.1%;

      --popover: 0 0% 100%;
      --popover-foreground: 224 71.4% 4.1%;

      --primary: 220.9 39.3% 11%;
      --primary-foreground: 210 20% 98%;

      --secondary: 220 14.3% 95.9%;
      --secondary-foreground: 220.9 39.3% 11%;

      --muted: 220 14.3% 95.9%;
      --muted-foreground: 220 8.9% 46.1%;

      --accent: 220 14.3% 95.9%;
      --accent-foreground: 220.9 39.3% 11%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 20% 98%;

      --border: 220 13% 91%;
      --input: 220 13% 91%;
      --ring: 224 71.4% 4.1%;

      --radius: 0.5rem;
    }

    .dark {
      --background: 224 71.4% 4.1%;
      --foreground: 210 20% 98%;

      --card: 224 71.4% 4.1%;
      --card-foreground: 210 20% 98%;

      --popover: 224 71.4% 4.1%;
      --popover-foreground: 210 20% 98%;

      --primary: 210 20% 98%;
      --primary-foreground: 220.9 39.3% 11%;

      --secondary: 215 27.9% 16.9%;
      --secondary-foreground: 210 20% 98%;

      --muted: 215 27.9% 16.9%;
      --muted-foreground: 217.9 10.6% 64.9%;

      --accent: 215 27.9% 16.9%;
      --accent-foreground: 210 20% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 20% 98%;

      --border: 215 27.9% 16.9%;
      --input: 215 27.9% 16.9%;
      --ring: 216 12.2% 83.9%;

      --btn-primary-from: 275 100% 55%;
      --btn-primary-to: 43 100% 50;

      --btn-secondary-from: 70 100% 50%;
      --btn-secondary-to: 220 100% 50%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
      font-family: 'Exo 2', sans-serif;
    }
    p {
      @apply mb-4;
    }
    .text-md {
      font-size: 0.95rem;
    }
    h1, h2, h3, h4, h5, h6 {
      @apply mb-4;
      font-family: 'Orbitron', sans-serif;
    }
    h1 {
      @apply text-4xl font-bold;
    }
    h2 {
      @apply text-xl font-bold;
    }
    h3 {
      @apply text-lg font-bold;
    }
    h4 {
      @apply text-base font-bold;
    }
    h5 {
      @apply text-base font-semibold;
    }
    h6 {
      @apply text-sm font-bold;
    }
  }

  @layer components {
    .display-1 {
      @apply text-9xl mt-4 mb-8 font-thin;
    }
    .display-2 {
      @apply text-8xl mt-4 mb-8 font-thin;
    }
    .display-3 {
      @apply text-7xl mt-4 mb-8 font-thin;
    }
    .display-4 {
      @apply text-6xl mt-4 mb-8 font-thin;
    }
    .display-5 {
      @apply text-5xl mt-4 mb-8 font-thin;
    }
    .btn {
      @apply px-4 py-2 rounded-md text-primary bg-primary-foreground hover:bg-slate-800 hover:text-secondary-foreground transition-all;
      font-family: 'Orbitron', sans-serif;
    }
    .btn.btn-primary {
      border: none;
      display: block;
      position: relative;
      z-index: 1;
      background: linear-gradient(to top right, hsl(var(--btn-primary-from)), hsl(var(--btn-primary-to)));
    }
    .btn.btn-primary::before {
      @apply bg-primary-foreground rounded-md absolute transition-all;
      content: "";
      left: 1px;
      right: 1px;
      top: 1px;
      bottom: 1px;
      z-index: -1;
    }
    .btn.btn-primary:hover::before {
      @apply bg-slate-800;
    }
    .btn.btn-primary::after {
      content: attr(data-text);
      @apply transition-all;
      font-size: 16px;
      background: linear-gradient(to top right, hsl(var(--btn-primary-from)), hsl(var(--btn-primary-to)));
      background-position: 0 0;
      background-size: 100% 100%;
      background-clip: text;
      color: transparent;
    }
    .btn.btn-primary:hover::after {
      background-position: 100% 0;
      background-size: 250% 250%;
    }
    .btn.btn-secondary {
      border: none;
      display: block;
      position: relative;
      z-index: 1;
      background: linear-gradient(to top right, hsl(var(--btn-secondary-from)), hsl(var(--btn-secondary-to)));
    }
    .btn.btn-secondary::before {
      @apply bg-slate-950 rounded-md absolute transition-all;
      content: "";
      left: 1px;
      right: 1px;
      top: 1px;
      bottom: 1px;
      z-index: -1;
    }
    .btn.btn-secondary:hover::before {
      @apply bg-slate-900;
    }
    .btn.btn-secondary::after {
      content: attr(data-text);
      @apply transition-all;
      font-size: 16px;
      background: linear-gradient(to top right, hsl(var(--btn-secondary-from)), hsl(var(--btn-secondary-to)));
      background-position: 0 0;
      background-size: 100% 100%;
      background-clip: text;
      color: transparent;
    }
    .btn.btn-secondary:hover::after {
      background-position: 0 100%;
      background-size: 250% 250%;
    }
    .text-gradient-primary {
      @apply bg-clip-text text-transparent bg-center bg-cover;
      background-image: linear-gradient(to top right, hsl(var(--btn-primary-from)), hsl(var(--btn-primary-to)));
    }
    .text-gradient-secondary {
      @apply bg-clip-text text-transparent bg-center bg-cover;
      background-image: linear-gradient(to top right, hsl(var(--btn-secondary-from)), hsl(var(--btn-secondary-to)));
    }
  }

  @layer utilities {
    .title-orange-text {
      @apply text-transparent bg-gradient-to-tr from-yellow-400 to-orange-500 via-amber-400 bg-clip-text shadow-sm;
      animation: pulseText 3s infinite alternate forwards;
      filter: drop-shadow(0 0 30px rgba(255, 143, 7, 0.85)) drop-shadow(0 0 12px rgba(255, 210, 7, 0.85));
    }
    .App.limited-gfx .title-orange-text {
      filter: none;
      animation: none;
    }
    .no-text-shadow {
      text-shadow: none;
    }
    .title-blue-text {
      @apply font-black text-white;
      /* color: #fffa; */
      filter: drop-shadow(0 0 20px rgba(22, 150, 255, 0.85)) drop-shadow(0 0 8px rgba(80, 249, 255, 0.85));
      background:
      /* the shine layer */
      linear-gradient(-45deg, #fff 40%,#00d9ff73,#fff 60%)
      right/300% 100%,
      /* the color layer*/
      linear-gradient(45deg, #fff, #fff);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      color:#000;
      animation: shine 5s infinite;
    }

    .App.limited-gfx .title-blue-text {
      filter: none;
      animation: none;
      background: linear-gradient(-45deg, #fff 40%,#00d9ff73,#fff 60%) 100% 100%,
                  linear-gradient(45deg, #fff, #fff);
      -webkit-text-fill-color: unset;
      background-clip: text;
      color: transparent;
      text-shadow: 0 0 20px rgba(22, 150, 255, 0.75), 0 0 40px rgba(80, 249, 255, 0.75);
    }

    @keyframes pulseText {
      0% {
        text-shadow: 0 0 0 #fff0;
        filter: drop-shadow(0 0 20px #fff) drop-shadow(0 0 0 rgb(255, 210, 7, 0));
      }
      40% {
        text-shadow: 0 0 0 #fff0;
        filter: drop-shadow(0 0 20px #fff) drop-shadow(0 0 0 rgb(255, 210, 7, 0));
      }
      95% {
        text-shadow: 0 0 0 #fff;
        filter: drop-shadow(0 0 20px rgba(255, 143, 7, 0.85)) drop-shadow(0 0 12px rgba(255, 210, 7, 0.85));
      }
      100% {
        text-shadow: 0 0 0 #fff;
        filter: drop-shadow(0 0 20px rgba(255, 143, 7, 0.85)) drop-shadow(0 0 12px rgba(255, 210, 7, 0.85));
      }
    }

    @keyframes shine {
      to {background-position: left;}
    }
  }
